<header class="nav-container">
  <nav class="nav">
    <nav class="nav__main">
      <div class="nav__logo-wrapper">
        <h4>
          <a routerLink="/">
            <img class="nav__logo" src="assets/images/voiceray-logo.png" alt="Voiceray website logo">
          </a>
        </h4>
      </div>
      <div class="nav__link-wrapper">
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/speakers" routerLinkActive="active">Speakers</a>
        <a href="#FAQ" routerLinkActive="active">FAQ</a>
      </div>
      <div class="nav__btn-wrapper">
        <a href="#" class="btn btn--full">Explore Audios</a>
      </div>
    </nav>
  </nav>
  <div class="nav-gradient"></div>
</header>