@use "../../styles/variables" as *;

.nav-gradient {
  background: $gradient-btn;
  height: .8rem;
}
.nav-container {
  top: 0;
  height: auto;
  width: 100%;
  position: fixed;
  background-color: $bg-primary;
  z-index: 1;
  transition: all 0.3s $cubic-beziar;
}
.nav {
  padding: 1.8rem 8rem;
  width: 100%;
  height: 100%;
  color: $brand-blue;
  font-size: 2rem;
  font-family: $oswald-regular;
  &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
  }
  &__logo {
    height: 4.4rem;
  }
  &__logo-wrapper {
    display: flex;
    justify-content: flex-start;
  
    h4 {
      font-size: 2rem;
      font-weight: bold;
      font-family: $oswald-bold;
      color: inherit;
    }
  }
  &__link-wrapper {
    display: flex;
    justify-content: center;
    flex: 1 0 0px;
    a {
      padding: .6rem 1.2rem;
      border-radius: 10rem;
      transition: all .3s ease;
      color: inherit;
      &:hover, &:active {
        background-color: $bg-section-alt;
      }
    }
  }
  &__btn-burger {
    display: none;
    cursor: pointer;
    svg {
      width: 3.2rem;
      height: 3.2rem;
      fill: $brand-blue;
      transition: all .3s $cubic-beziar;
    }
  }
}

@media screen and (max-width: 850px) {
  .nav {
    padding: .8rem 2rem;
    // &__main {
    //   justify-content: space-between;
    // }
    &__link-wrapper {
      a {
        font-size: 1.2rem;
        padding: .4rem .8rem;
      }
    }
    &__logo {
      height: 3rem;
    }
    &__btn-wrapper {
      .btn {
        padding: .6rem 1.2rem;
        font-size: 1rem;
      }
    }
  }
  
}