<section class="section section-hero">
  <div class="hero-background">
    <!-- <svg class="equalizer-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 128 128" xml:space="preserve">
      <path class="equalizer-bars" d="M55.5,112h-0.1V16h0.1V112z M63.5,102.8h-0.1V25.2h0.1V102.8z M39.5,95.4h-0.1V32.6h0.1V95.4z M47.5,90.1h-0.1v-53h0.1V90.1z M71.5,81.7h-0.1V46.3h0.1V81.7z M-8.5,78.3h-0.1V49.7h0.1V78.3z M79.5,78h-0.1V50h0.1V78z M31.5,77.3h-0.1V50.7h0.1V77.3z M151.5,73.8h-0.1V54.2h0.1 V73.8z M87.5,73.7h-0.1V54.3h0.1V73.7z M95.5,73.4h-0.1V54.6h0.1V73.4z M7.5,71.8h-0.1V56.2h0.1V71.8z M23.5,70.9h-0.1V57.1h0.1V70.9z M15.5,70.4h-0.1 V57.6h0.1V70.4z M103.5,70.4h-0.1V57.6h0.1V70.4z M-0.1,70.1h-0.1V57.9h0.1V70.1z M135.5,69.3h-0.1V58.7h0.1V69.3z M127.5,68.8h-0.1v-9.5h0.1V68.8z M119.5,68.6h-0.1v-9.2h0.1V68.6z M111.5,67.9h-0.1v-7.8h0.1V67.9z M143.5,66.5h-0.1v-4.9h0.1V66.5z"/>
    </svg> -->
    <!-- <svg class="equalizer-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
      <g class="equalizer-bars" stroke-width="1" fill="none">
        <line x1="54" y1="16" x2="54" y2="112"/>
        <line x1="63" y1="25.2" x2="63" y2="102.8"/>
        <line x1="39" y1="32.6" x2="39" y2="95.4"/>
        <line x1="47" y1="37.5" x2="47" y2="90.5"/>
        <line x1="71" y1="46.3" x2="71" y2="81.7"/>
        <line x1="79" y1="50" x2="79" y2="78"/>
        <line x1="31" y1="50.7" x2="31" y2="77.3"/>
        <line x1="87" y1="54.3" x2="87" y2="73.7"/>
        <line x1="95" y1="54.6" x2="95" y2="73.4"/>
        <line x1="7" y1="56.2" x2="7" y2="71.8"/>
        <line x1="23" y1="57.1" x2="23" y2="70.9"/>
        <line x1="15" y1="57.6" x2="15" y2="70.4"/>
        <line x1="103" y1="57.6" x2="103" y2="70.4"/>
        <line x1="111" y1="60.1" x2="111" y2="67.9"/>
        <line x1="119" y1="59.4" x2="119" y2="68.6"/>
        <line x1="127" y1="59.3" x2="127" y2="68.8"/>
      </g>
    </svg> -->
  </div>
  <div class="hero">
    <div class="hero__text-box">
      <span>Unlock the Power of Every Word.</span>
      <h1 class="heading-primary">Advanced Playback for Impactful Speeches</h1>
      <p class="description">Upload, share, and listen with precision controls - adjust speed, and empower your audience to engage meaningfully</p>
      <a href="#features" class="btn btn--full">Start Listening</a>
    </div>
    <div class="hero__img-box">
      <img class="hero__img" loading="lazy" src="assets/images/hero.webp" alt="Hero section image">
    </div>
  </div>
</section>